name: Auto Merge
on:
  pull_request_target:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - reopened
      - ready_for_review
      - unlocked

jobs:
  automerge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: read
      statuses: read
    steps:
      - name: Enable Auto Merge
        if: contains(github.event.pull_request.labels.*.name, 'automerge')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Attempting to enable auto-merge..."
          gh pr merge --auto --merge "${{ github.event.pull_request.html_url }}" || \
          gh pr merge --auto --squash "${{ github.event.pull_request.html_url }}" || \
          gh pr merge --auto --rebase "${{ github.event.pull_request.html_url }}"
